@media (min-width: 992px) {
    .img-item {
        margin-bottom: -150px;
        margin-top: -150px;
    }
}

@media (min-width: 1200px) {
    .img-item {
        margin-bottom: -250px;
        margin-top: -250px;
    }
}

