.title-container {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(5, 5, 5);
    top: 21%;
    text-align: center;
}

.first-title {
    font-size: 60px;
    margin: 10px;
}

.second-title {
    font-size: 30px;
    padding: 0px 0px 20px 0px;
}
